.all {
    padding: 5% 0;
}

.all .main{
    margin-top: 50px;
}

.all h1{
    font-weight: bold;
    font-size: 40px;
}

.all .main h3{
    font-weight: bold;
    font-size: 20px;
}

.all .main p{
    color: gray;
    font-size: 14px;
    padding-top: 8px;
}

.all .main i{
    border: 3px solid;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 4%;
    font-size: 15px;
    color: darkcyan;
    cursor: pointer;
    transition: 0.5s;
}

.all .main i:hover{
    color: black;
    transition: 0.5s;
    opacity: 0.5s;
}

.all img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    object-fit: cover;
}

