.detail .main h3{
    font-weight: bold;
    font-size: 20px;
    padding-top: 5%;
}

.detail .main p{
    color: gray;
    font-size: 14px;
    padding-top: 8px;
}

.detail .main i{
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 4%;
    font-size: 17px;
}

.detail img{
    width: 80%;
    height: auto;
    border-radius: 10px;
}